<div class="container">
  <h1>Importador de tiempos </h1>
  <span>Es importante cargar los archivos en un .txt para que funcione bien</span>
  <br><br>

  <div class="form-row">
    <label>Cliente</label>
    <input [(ngModel)]="cliente" placeholder="Nombre del cliente"/>
    <label>Proyecto</label>
    <input [(ngModel)]="proyecto" placeholder="Nombre del proyecto"/>
  </div>

  <div class="form-row">
    <label>Subir archivo .txt</label>
    <input type="file" accept=".txt" (change)="onFileSelected($event)"/>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="info" class="info">{{ info }}</div>

  <div *ngIf="parsed.length > 0" class="table-wrap">
    <button (click)="exportExcel()">Exportar CSV</button>
    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Proyecto</th>
        <!--        <th>Tipo</th>-->
<!--        <th>Código</th>-->
        <th>Actividad</th>
        <th>Total horas</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of parsed">
        <td>{{ p.nombre }}</td>
        <td>{{ p.fecha }}</td>
        <td>{{ p.cliente }}</td>
        <td>{{ p.proyecto }}</td>
        <td>{{p.codigo}} {{ p.actividad }}</td>
        <td style="text-align: right;">{{ p.horas }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7" style="text-align: right;"><strong>Total horas</strong></td>
        <td style="text-align: right;"><strong>{{ totalHours() }}</strong></td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="parsed.length > 0" class="table-wrap">
    <h2>Resumen por Usuario</h2>
    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Día</th>
        <th>Total Horas</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of summary">
        <td>{{ s.nombre }}</td>
        <td>{{ s.dia }}</td>
        <td>{{ s.tiempo }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
